@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Slab:wght@600&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 30px;
    }




.container{
    width: 50%;
height: 100%;
display: inline-block;

}
.container img{
    width: 100px;
    height: 100px;
   display: inline-block;
    padding-left: 100%;
    border-radius: 50px;
}


.fa-star{
    font-size: 10px;
}
.fa-star.filled{
    color:#FFC014;
}.fa-star.empty{
    color:#FFC014;

}



.prebook{
    text-decoration: none;
    background-color: red;
    padding:5px 50px;
    color: white;
    font-weight: 500;
    border-radius: 50px;
}
.head{
text-align: center;
}

.wrapper{
    background-color: white ;
    display: grid;
    grid-gap: 2em;
    grid-template-columns: 1fr 1fr 1fr;
    
    grid-auto-rows: minmax(100px, auto);
    
}
.wrapper>div{
    background: white;
    padding: 1em;
}




footer{
    background: black;
    
    width: 100%;
    
color: white;
}
.footer-content{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.social-links a{
    display: inline-block;
    height: 4rem;
    width: 4rem;
    background-color:rgba(255,255,255,0.2);
    margin: 0 10px 0;
    text-align: center;
    line-height: 4rem;
    border-radius: 4rem;
    color:#ffffff;


}
